*{
    font-family: monospace;
    font-size: large;
}

/* body{
 background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );;
} */

.navbarli li a{
    font-weight: bolder;
    margin: 5px;
    /* border-radius: 12px; */
}
.navbar-nav{
    margin-top: 13px;
}
.navbarli li :hover{
  /* border-radius: 12px; */
  /* background-color: aqua; */
  border-bottom: 5px solid rgb(10, 73, 133);
}

.navbar-part{
    font-weight: bolder;
}


.main-footer{
    margin: 27px;
}

.navbar-part a {
    color: black;
}

.navbar-part a:hover{
    border-bottom: 5px solid yellowgreen;
    animation: backwards;
}

.logo{
    width: 170px;
}

.ff{
    font-size: x-large;
    font-weight: bolder;
}
.dashboard-items{
    text-decoration: none;
    background-color: #198754;
    color: whitesmoke;
    padding: 12px;
    border-radius: 6px;
}

.offcanvas.show:not(.hiding), .offcanvas.showing{
    margin: 10px;
}
.navbar-part {
    display: contents;
}
.navbar{
    display: flex;
    justify-content: flex-end;
}


nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    max-height: 39px;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:focus:hover{
    color: aliceblue;
}

